@model Usuario

@{
    ViewData["Title"] = "Formulario de Registro";
}

<br>


<div>
                 <h1 style="color: black;">Completa el formulario de Registro</h1>
                 <br>
                
                 <form asp-action="Registrar" asp-controller="Login" method="post">
              
                     <div class="form-group">
                         <label  class="font-weight-bold" style="color: black;">Email:<span class="text-danger">*</span></label>
                         <input type="text"  style="background-color: #910222;color:white" class="form-control" asp-for="Correo" required />
                          <span  class="text-danger"></span>
                     </div>
                     <br>
                     <div class="form-group">
                        <label  class="font-weight-bold" style="color: black;">Contraseña:<span class="text-danger">*</span></label>
                        <br>
                        <input type="password" class="form-control"  style="background-color: #910222;color:white" asp-for="Password" required />
                         <span class="text-danger"></span>
                     </div>
                     <br>
                     <div class="form-group">
                         <label  class="font-weight-bold" style="color: black;">Nombres:<span class="text-danger">*</span></label>
                         <input type="text"  style="background-color: #910222;color:white" class="form-control" asp-for="Nombre" required />
                          <span class="text-danger"></span>
                     </div>
                     <br>
                      <div class="form-group">
                        <label class="font-weight-bold" style="color: black;">Apellidos:<span class="text-danger">*</span></label>
                        <input type="text"  style="background-color: #910222;color:white" class="form-control" asp-for="Apellido" required />
                         <span  class="text-danger"></span>
                      </div>
                     <br>
                     <div class="form-group">
                        <label class="font-weight-bold" style="color: black;">Código de Alumno:<span class="text-danger">*</span></label>
                        <input type="text"  style="background-color: #910222;color:white"  class="form-control" asp-for="ID" required />
                         <span  class="text-danger"></span>
                     </div>
                     <br>
                     <div class="form-group">
                        <label class="font-weight-bold" style="color: black;">DNI<span class="text-danger">*</span></label>
                        <input type="text" style="background-color: #910222;color:white"  class="form-control" asp-for="DNI" required />
                         <span  class="text-danger"></span>
                     </div>
                     <br>
                   <div style="text-align: center;">
                               <button type="submit" class="btn btn-primary" style="border-radius: 50px;margin:20px">Registrar</button>
                   </div>
             
                 </form>
</div>
